<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viqbgrg.mybatisplus.mapper.BookMapper">
    <resultMap id="BaseColumn" type="com.viqbgrg.mybatisplus.entity.Book">
        <id property="id" column="id"/>
        <result column="name" property="name"/>
        <!--        <collection property="users" ofType="com.viqbgrg.mybatisplus.entity.Student">-->
        <!--            <id property="id" column="student_id"/>-->
        <!--        </collection>-->
    </resultMap>
    <select id="getBooks" resultMap="BaseColumn">
        select b.id,
               b.name
        from book b
                 LEFT JOIN student_book sb on b.id = sb.book_id
        where student_id = #{studentId}
    </select>
</mapper>
